@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gradient {
    background: -webkit-linear-gradient(black, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.monospace {
    font-family: monospace;
}

button {
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
}

button:hover {
    background-color: red;
}

button:active {
    background-color: darkred;
}

.mood-button {
    background: slategrey;
    box-shadow: 3px 3px 0px 0px darkred;
    
}

.mood-button:hover {
    transform: translate(3px, 3px);
    background: darkred;
    box-shadow: 0 0 0 0;
}